/**----------- ROOT ------------------------**/
:root {
    --cd3: #D31141;
    --c3a: #3a72e2;
    --cbl: #000;
    --cff: #fff;
    --cfe: #fecb60;
    --ce8: #e8e8e8;
    --c98: #989898;
    --c50: #505050;
    --c3b: #3B3B3B;
    --c32: #323232;
    --chum: #6D9C72;
    --cvam: #D31141;
    --chyb: #C083CF;
    --bsbd: 8px solid #3a72e2; /*COUNTOUR CERCLE*/
    --hsbd: 8px solid #e8e8e8; /*COUNTOUR CERCLE SURVOLÉ*/
    --ssbd: 8px solid #fecb60; /*COUNTOUR CERCLE SÉLECTIONNÉ*/
    --bd: 1px solid #fff;
    --gap-size: 16px;
    --ease: cubic-bezier(0.4, 0.0, 0.2, 1);
    --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}

/**----------- CORRECTIF DE BASE -----------**/
#page-header, #headerbar-top, .edited-message, .scSIT, a.mainmenu img, a.mainmenu[href="/faq"], a.mainmenu[href="/groups"], a.mainmenu[href="/search"], a.mainmenu[href="/login"], a.mainmenu[href="/register"], a#logout {
    display:none;
}

html {
    background: none;
}
body{
    
    background-image:url('https://appletheocracy.github.io/stellaastra/img/01_Base/fond.jpg');
    background-repeat:no-repeat;
    background-position: center top;
    background-attachment: fixed!important;
    background-color:var(--c3b);
}

#wrap{
    padding-top:0px!important;
}

#modernbb{
    margin-top:0px!important;
}

table{
    margin:0 auto!important;
    border-spacing:0!important;
    border-collapse:collapse!important;
    border:0px!important;	
}

tr{
    margin:0 auto!important;
    border-spacing:0!important;
    border-collapse:collapse!important;
    border:0px!important;  	
}

td{
    margin:0 auto!important;
    border-spacing:0!important;
    border-collapse:collapse!important;
    border:0px!important;
}

#fa_toolbar, #fa_toolbar_hidden{
    display: none!important;
}

#content-main{
    position:relative;
    left:-199px;
    width:1140px!important;
  
}

#left{
    width:0px;
    height:0px;  
    overflow:hidden;
}
