.profil-wrap{
    width:1140px;
    margin:0 auto;
    font-family: "Staatliches", sans-serif!important;
    font-weight: 400!important;
    font-style: normal!important;
}

.profil-arial{
    font-family: Arial, Helvetica, sans-serif;
}

.profil-page-ttle{
    font-size:55px;
    text-align:center;
    height:52px;
    position:relative;
    z-index:1001;
}

.profil-page-ttle span{
    text-shadow: 0px -4px 1px var(--c98);
}

.profil_user{    
    width:1140px;
    height:690px;
    background-color:var(--cfond);
    background-image: url('../img/bgn_grad_prof.png');
    background-repeat:no-repeat;
    border-radius:4px;
    position:relative;
    z-index:1000;
}

.profil-grp-bar{
    height:50px;
    width:1140px;
    background-color:#6e6e6e;
    top:40px;
    position:absolute;
    z-index:1000;
}

.profil-subtitre{
    color:var(--cfondpale);
    font-size:35px;
    width:100%;
    text-align:center;
    height:36px;
}

.profil-subtitre.topper{
    margin-top:27px;
}

.prof-flex{
    display: flex;
    flex-direction: row;
    gap:11px;
    width:405px;
}

.prof-list-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prof-label-col{
    color:var(--cfondpale);
    font-size:24px;
    padding-left:4px;
    height:23px;
}

.profil-rep-col{
    width:197px;
    background-color:var(--c14);
    height:33px;
    border-radius:4px;
    border:1px solid var(--c98);
    color:var(--cofwhite);
    font-size:18px;
    text-align:center;
    padding:5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profil-rep-col.profil-arial{
    padding:7px;
}

.profil-rep-col a{
    color:#6e6e6e!important;
    transition: 0.5s;
  	animation-timing-function:ease-in-out;
  	text-decoration:none;
}

.profil-rep-col a:hover{
    color:var(--cvam)!important;
}

.rep-full{
    width:405px;
    text-align:left;   
}

.profil-rep-col.rep-textarea{
    width:405px;
    font-size:14px;
    white-space: normal;
    overflow-y: auto;
    text-align:left;
    scrollbar-color: #6e6e6e #323232;
    scrollbar-width: thin;
}


.profil-info-g{
    width:405px;
    margin:15px 0px 15px 15px;
}

.profile-groupe-memb{
    color:#6e6e6e;
    font-size:40px;
    padding-top:8px;
}

.prof-memb, .prof-deus, .prof-pnj, .prof-vamp, .prof-huma, .prof-hybr, .prof-chim{
    display:none;
}

.profil-contenu{
    display: grid; 
    grid-template-columns: 420px 270px 420px; 
    grid-template-rows: 100%; 
    gap: 0px 15px; 
    grid-template-areas: 
    "a b c"; 
    width: 1140px; 
    height: 690px;
    position: absolute;
    z-index:1001;
}

.profil-disp-ava{
    grid-area:b;
    width:270px;
    height:690px;
    background: #6e6e6e;
    background: linear-gradient(0deg, rgba(103, 103, 103, 1) 0%, rgba(50, 50, 50, 0.5) 100%); 
    padding:10px;
    display:flex;
    flex-direction: column;
    gap:5px;
}

.profil-disp-ava img{
    margin-top:10px;
    width:250px;
    height:400px;
    border:1px solid #6e6e6e;
}

.profil-disp-ava:hover img{
    filter: grayscale(0);
}

.profil-bloc-ava.p-ava-flex{
    display:flex;
    flex-direction: row;
    gap:5px;
}

.prof-sub-label{
    color:var(--cfondpale);
    font-size:20px;
    padding-left:4px;
    height:19px;
}

.profil-rep{
    width:250px;
    background-color:var(--cfond);
    height:30px;
    border-radius:4px;
    border:1px solid var(--c98);
    color:var(--cofwhite);
    font-size:16px;
    text-align:center;
    padding:5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profil-rep.profil-arial{
    font-size:14px;
    padding:7px;
}

.p-ava-flex .rep-id4{
    width:100px!important;
}

.p-ava-flex .rep-id6, .p-ava-flex .rep-id13{
    width:70px!important;
}

.profil-info-d{
    width:405px;
    margin:15px 15px 15px 0px;
}

a .profil-rep-col.plink{
    background-color:#6e6e6e;
    transition: 0.5s;
    animation-timing-function:ease-in-out;
    text-decoration:none;
}

.rep-textarea.rep-id28{
    height:207px;
}

.rep-textarea.rep-id21, .rep-textarea.rep-id22{
    height:55px;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
}

.profil-rep-col.rep-id25{
    width:143px;
}

.profil-rep-col.prof-mpperso{
    width:105px;
}

.profil-rep-col.prof-mpdeus{
    width:135px;
}

.rep-textarea.rep-id23{
    height:110px;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
}

.rep-full.rep-id27{
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:8px;
}

.prof-staff1, .prof-staff2{
    display: none;
}

.est-staff-actif .prof-staff1{
    display:flex;
}

.est-staff-actif .prof-staff2{
    display:block;
}

.est-staff-actif .rep-id23{
    height:45px!important;
}
