#c5, #c6, #c7{
  height:359px!important;
}
#c5 .cat_list, #c6 .cat_list, #c7 .cat_list{
    grid-template-rows: 230px!important;
    grid-template-areas:
        "a b";
    gap: 0px 40px!important;
    height:230px!important;
    width:1110!important;
}

#c7 .cat_list .insertc7{
    height:230px;
    width:547.5px;
    background-repeat:no-repeat;
    background-size: cover;
    background-image:url('https://i.imgur.com/w3rwUse.png');
    border-radius:0px 4px 4px 0px;
}

#c7 .c-focat_list{
  border-radius:4px 0px 0px 4px;
}

#c6 .topl{
  border-radius:4px 0px 0px 4px!important;
}

#c6 .topr{
  border-radius:0px 4px 4px 0px!important;
}
