#c1 .catego_titre h2, #c1 .c-focat_titre,
#c1 .c-for_last-info a, #c1 .c-sub-for a.gensmall,
#c1 .cs-sub-titre, #c1 .c-focat_titre a.forumtitle,
#c4 .catego_titre h2, #c4 .c-focat_titre,
#c4 .c-for_last-info a, #c4 .c-sub-for a.gensmall,
#c4 .cs-sub-titre, #c4 .c-focat_titre a.forumtitle{
    font-family: "Staatliches", sans-serif!important;
    font-weight: 400!important;
    font-style: normal!important;
}

#c1.category a, #c4 .category a{
    color:var(--cff);
}

#c1 .category, #c4 .category{
    width:100%;
    border-radius:4px;
    background-color: var(--c14);
    background-image:url('https://i.imgur.com/OB4VLpM.png');
    background-repeat:no-repeat;
    background-position: center top;
    padding:15px;
    margin-bottom:30px;
}


#c1 .catego_titre h2, #c4 .catego_titre h2{
    width:100%;
    font-size:65px;
    text-align:center;
    color:var(--cff);
    text-shadow: var(--c98) 3px 0px 0px, var(--c98) 2.83487px 0.981584px 0px, var(--c98) 2.35766px 1.85511px 0px, var(--c98) 1.62091px 2.52441px 0px, var(--c98) 0.705713px 2.91581px 0px, var(--c98) -0.287171px 2.98622px 0px, var(--c98) -1.24844px 2.72789px 0px, var(--c98) -2.07227px 2.16926px 0px, var(--c98) -2.66798px 1.37182px 0px, var(--c98) -2.96998px 0.42336px 0px, var(--c98) -2.94502px -0.571704px 0px, var(--c98) -2.59586px -1.50383px 0px, var(--c98) -1.96093px -2.27041px 0px, var(--c98) -1.11013px -2.78704px 0px, var(--c98) -0.137119px -2.99686px 0px, var(--c98) 0.850987px -2.87677px 0px, var(--c98) 1.74541px -2.43999px 0px, var(--c98) 2.44769px -1.73459px 0px, var(--c98) 2.88051px -0.838247px 0px;

}

#c1 .cat_list, #c4 .cat_list{
    width:1110px;
    display: grid;
    gap: 10px 10px;
    grid-auto-flow: row;
    justify-content: start;
    align-content: start;
    justify-items: start;
    align-items: start;
    width: 1085px;
    height: 470px;
}

#c1 .c-focat_titre, #c4 .c-focat_titre{
    width:525px;
    font-size:35px;
    display: grid; 
    grid-template-columns: 1fr 125px; 
    grid-template-rows: 44px; 
    gap: 0px 5px; 
    grid-template-areas: 
    ". ."; 
    justify-content: start; 
    align-content: start; 
    justify-items: start; 
    align-items: start;
}


#c1 .c-for-suj, #c4 .c-for-suj{
    background-color:var(--cfond);
    padding:10px;
    height:176px;
    width:100%;
    padding:10px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

#c1 .c-for_desc, #c4 .c-for_desc {
    background-color: var(--cofwhite);
    padding: 5px;
    height: 66px;
    font-size: 14px;
    overflow-y: auto;
    scrollbar-color: #3a72e2 #323232;
    scrollbar-width: thin;
}

#c1 .c-for_info, #c4 .c-for_info {
    width: 505px;
    height: 80px;
    background: #676767;
    background: linear-gradient(90deg, rgba(103, 103, 103, 1) 0%, rgba(103, 103, 103, 0) 75%);
}

#c1 .c-for_last, #c4 .c-for_last {
    margin: 5px;
    display: grid;
    grid-template-columns: 70px 210px 195px;
    grid-template-rows: 70px;
    gap: 0px 10px;
    grid-auto-flow: row;
    justify-content: start;
    align-content: start;
    justify-items: start;
    align-items: start;
    grid-template-areas: "a b c";
    width: 495px;
    height: 70px;
}

#c1 .c-for_last img, #c4 .c-for_last img {
    height: 70px;
    width: 70px;
}

#c1 .c-for_last-info, #c4 .c-for_last-info {
    height: 70px;
    width: 210px !important;
    color: var(--cff);
    grid-area: b;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

#c1 .c-for_last-info a.last-post-icon, #c4 .c-for_last-info a.last-post-icon {
    display: none;
}

#c1 .c-for_last-info a, #c4 .c-for_last-info a {
    font-size: 19px;
    width: 210px !important;
}

#c1 .c-for_last-info a strong, #c4 .c-for_last-info a strong {
    font-weight: 400 !important;
}

#c1 .c-for_last-info a:hover, #c4 .c-for_last-info a:hover {
    letter-spacing: .5px;
}

#c1 .c-date, #c4 .c-date {
    font-size: 14px;
    margin: 5px 0px;
    text-transform: uppercase;
}

#c1 .c-sub-for, #c4 .c-sub-for {
    width: 195px;
    height: 70px;
    background-color: var(--rg18);
    text-align: right;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    justify-content: center;
    grid-area: c;
    gap: 2.5px;
}

#c1 .c-sub-for a, #c4 .c-sub-for a {
    line-height: 95%;
    width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    height: 15px;
}

#c1 .c-sub-for a:hover, #c4 .c-sub-for a:hover {
    letter-spacing: .5px;
}

#c1 .c-focat_list, #c4 .c-focat_list {
    background-color: var(--cfondpale);
    height: 230px;
    width: 535px;
    padding: 5px;
}

#c1 .cat-styling, #c4 .cat-styling {
    height: 470px;
    width: 565px;
    background-repeat: no-repeat;
}

#c1 .cat-stat, #c4 .cat-stat {
    text-align: right;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: var(--c69);
    width: 125px;
    line-height: 95%;
    margin-top: 5px;
}

#c1 .c-focat_titre a.forumtitle, #c4 .c-focat_titre a.forumtitle {
    color: var(--cdeu) !important;
    margin: 0px 10px;
    font-size: 35px;
}

.topr{
    border-radius:0px 4px 0px 0px;
}

.botr{
    border-radius:0px 0px 4px 0px;
}

.topl{
    border-radius:4px 0px 0px 0px;
}

.botl{
    border-radius:0px 0px 0px 4px;
}
