.catego_titre h2, .c-focat_titre,
.c-for_last-info a, .c-sub-for a.gensmall,
.cs-sub-titre, .c-focat_titre a.forumtitle{
    font-family: "Staatliches", sans-serif!important;
    font-weight: 400!important;
    font-style: normal!important;
}

#f42 .c-focat_list{
  	border-radius:4px 0px 0px 4px;
}

.category a{
    color:var(--cff)!important;
}

#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c13, #c14, #district-rp{
    background-image:url('https://i.imgur.com/OB4VLpM.png')!important;
    background-repeat:no-repeat!important;
	background-color: var(--c14)!important;
    background-position: center top!important;
	
}

.category{
    width:100%;
    border-radius:4px;    
	background-color:transparent;
    background-image:none!important;
    background-repeat:no-repeat;
    background-position: center top;
    padding:15px;
    margin-bottom:30px!important;
}


/* Generalized from #c1 / #c4 and deduped */

.catego_titre h2{
  width:100%;
  font-size:65px;
  text-align:center;
  color:var(--cff);
  text-shadow:
    var(--c98) 3px 0px 0px, var(--c98) 2.83487px 0.981584px 0px,
    var(--c98) 2.35766px 1.85511px 0px, var(--c98) 1.62091px 2.52441px 0px,
    var(--c98) 0.705713px 2.91581px 0px, var(--c98) -0.287171px 2.98622px 0px,
    var(--c98) -1.24844px 2.72789px 0px, var(--c98) -2.07227px 2.16926px 0px,
    var(--c98) -2.66798px 1.37182px 0px, var(--c98) -2.96998px 0.42336px 0px,
    var(--c98) -2.94502px -0.571704px 0px, var(--c98) -2.59586px -1.50383px 0px,
    var(--c98) -1.96093px -2.27041px 0px, var(--c98) -1.11013px -2.78704px 0px,
    var(--c98) -0.137119px -2.99686px 0px, var(--c98) 0.850987px -2.87677px 0px,
    var(--c98) 1.74541px -2.43999px 0px, var(--c98) 2.44769px -1.73459px 0px,
    var(--c98) 2.88051px -0.838247px 0px;
}

.cat_list{
  display:grid;
  gap:10px;
  grid-auto-flow:row;
  justify-content:start;
  align-content:start;
  justify-items:start;
  align-items:start;
  width:1085px;
  height:470px;
}

.c-focat_titre{
  width:525px;
  font-size:35px;
  display:grid;
  grid-template-columns:1fr 125px;
  grid-template-rows:44px;
  gap:0 5px;
  justify-content:start;
  align-content:start;
  justify-items:start;
  align-items:start;
}

.c-for-suj{
  background-color:var(--cfond);
  width:100%;
  height:176px;
  padding:10px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.c-for_desc{
  background-color:var(--cofwhite);
  padding:5px;
  height:66px;
  font-size:14px;
  overflow-y:auto;
  scrollbar-color:#3a72e2 #323232;
  scrollbar-width:thin;
}

.c-for_info{
  width:505px;
  height:80px;
  background:linear-gradient(90deg, rgba(103,103,103,1) 0%, rgba(103,103,103,0) 75%);
}

.c-for_last{
  margin:5px;
  display:grid;
  grid-template-columns:70px 210px 195px;
  grid-template-rows:70px;
  gap:0 10px;
  grid-auto-flow:row;
  justify-content:start;
  align-content:start;
  justify-items:start;
  align-items:start;
  grid-template-areas:"a b c";
  width:495px;
  height:70px;
}

.c-for_last img{
  height:70px;
  width:70px;
}

.c-for_last-info{
  height:70px;
  width:210px !important;
  color:var(--cff);
  grid-area:b;
  display:flex;
  flex-direction:column;
  text-transform:uppercase;
}

.c-for_last-info a.last-post-icon{ display:none; }

.c-for_last-info a{
  font-size:19px;
  width:210px !important;
}

.c-for_last-info a strong{ font-weight:400 !important; }

.c-for_last-info a:hover{ letter-spacing:.5px; }

.c-date{
  font-size:14px;
  margin:5px 0;
  text-transform:uppercase;
}



.c-sub-for{
  width:195px;
  height:70px;
  background-color:var(--rg18);
  text-align:right;
  display:flex;
  flex-direction:column;
  padding:5px 10px;
  justify-content:center;
  grid-area:c;
  gap:2.5px;
}

.c-sub-for a{
  line-height:95%;
  width:175px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  font-size:13px;
  height:15px;
}

.c-sub-for a:hover{ letter-spacing:.5px; }

.c-focat_list{
  background-color:var(--cfondpale);
  height:230px;
  width:535px;
  padding:5px;
}

.cat-styling{
  height:470px;
  width:565px;
  background-repeat:no-repeat;
}

.cat-stat{
  text-align:right;
  font-size:18px;
  display:flex;
  flex-direction:column;
  color:var(--c69);
  width:125px;
  line-height:95%;
  margin-top:5px;
}

.c-focat_titre a.forumtitle{
  color:var(--cdeu) !important;
  margin:0 10px;
  font-size:35px;
}


.topr{
    border-radius:0px 4px 0px 0px;
}

.botr{
    border-radius:0px 0px 4px 0px;
}

.topl{
    border-radius:4px 0px 0px 0px;
}

.botl{
    border-radius:0px 0px 0px 4px;
}

#c6, #c7{
  height:359px!important;
}

#c6 .cat_list, #c7 .cat_list{
    grid-template-rows: 230px!important;
    grid-template-areas:
        "a b";
    gap: 0px 15px!important;
    height:230px!important;
    width:1110!important;
    grid-template-columns: 547.5px 547.5px!important;
}

#c7 .cat_list .insertc7{
    height:230px;
    width:547.5px;
    background-repeat:no-repeat;
    background-size: cover;
    background-image:url('https://i.imgur.com/w3rwUse.png');
    border-radius:0px 4px 4px 0px;
}

#c13 .c-focat_list{
	border-radius:0px 4px 4px 0px;
}

#c7 .c-focat_list{
  	border-radius:4px 0px 0px 4px!important;
}

#c6 .topl{
 	 border-radius:4px 0px 0px 4px!important;
}

#c6 .topr{
 	 border-radius:0px 4px 4px 0px!important;
}

#c1 .cat-stat, #c4 .cat-stat, #c6 .cat-stat, #c7 .cat-stat, #c13 .cat-stat{
  	width:125px!important;
}

.stack_div .district8-12{
	display:none!important;
}

.stack_div .c-sub-for > a:any-link , #c6 .c-sub-for > a:any-link {
	display: flex;
	align-items: center;      /* centers text vertically within each row */
	padding: 8px 10px;
	text-decoration: none;
}

.stack_div .c-sub-for, #c6 .c-sub-for{
	overflow-y:auto;
  	overflow-x:hidden;
  	scrollbar-color: #3a72e2 #323232!important;
  	scrollbar-width: thin;
  	display:flex;
  	flex-direction: column;	
}

.stack_div {
  height:auto!important;
  display:flow-root;
  background-image:none!important;
}
.stack_div::after { content:""; display:block; clear:both; }

.stack_div .c-focat_titre{
	width:537.5px!important;
  	gap:0px!important;
}

.stack_div .cat_list{
	display:flex!important;
  	flex-direction:row;
  	flex-wrap:wrap;
  	width:1110px!important;
   	gap:15px;
  	height:auto !important; 
}

.stack_div .c-focat_list{
	width:547.5px;
}

#f7{
  	height:455px!important;
}

#f7 .zone-0 .c-for_info.c-deus,
#f7 .zone-0 .c-for_info.c-pnj,
#f7 .zone-0 .c-for_info.c-memb,
#f7 .zone-0 .c-for_info.c-vamp,
#f7 .zone-0 .c-for_info.c-chim,
#f7 .zone-0 .c-for_info.c-hybr,
#f7 .zone-0 .c-for_info.c-huma{
	background: linear-gradient(90deg, rgba(103, 103, 103, 1) 0%, rgba(103, 103, 103, 0) 75%)!important;
}

#f7 .zone-1 .c-for_info.c-deus,
#f7 .zone-1 .c-for_info.c-pnj,
#f7 .zone-1 .c-for_info.c-memb,
#f7 .zone-1 .c-for_info.c-vamp,
#f7 .zone-1 .c-for_info.c-chim,
#f7 .zone-1 .c-for_info.c-hybr,
#f7 .zone-1 .c-for_info.c-huma{
	background: linear-gradient(90deg, rgba(103, 103, 103, 1) 0%, rgba(103, 103, 103, 0) 75%)!important;
}

#f7 .zone-2 .c-for_info.c-deus,
#f7 .zone-2 .c-for_info.c-pnj,
#f7 .zone-2 .c-for_info.c-memb,
#f7 .zone-2 .c-for_info.c-vamp,
#f7 .zone-2 .c-for_info.c-chim,
#f7 .zone-2 .c-for_info.c-hybr,
#f7 .zone-2 .c-for_info.c-huma{
	background: linear-gradient(90deg, rgba(103, 103, 103, 1) 0%, rgba(103, 103, 103, 0) 75%)!important;
}

#f7 .zone-3 .c-for_info.c-deus,
#f7 .zone-3 .c-for_info.c-pnj,
#f7 .zone-3 .c-for_info.c-memb,
#f7 .zone-3 .c-for_info.c-vamp,
#f7 .zone-3 .c-for_info.c-chim,
#f7 .zone-3 .c-for_info.c-hybr,
#f7 .zone-3 .c-for_info.c-huma{
	background: linear-gradient(90deg, rgba(103, 103, 103, 1) 0%, rgba(103, 103, 103, 0) 75%)!important;
}

#f7 .zone-4 .c-for_info.c-deus,
#f7 .zone-4 .c-for_info.c-pnj,
#f7 .zone-4 .c-for_info.c-memb,
#f7 .zone-4 .c-for_info.c-vamp,
#f7 .zone-4 .c-for_info.c-chim,
#f7 .zone-4 .c-for_info.c-hybr,
#f7 .zone-4 .c-for_info.c-huma{
	background: linear-gradient(90deg, rgba(103, 103, 103, 1) 0%, rgba(103, 103, 103, 0) 75%)!important;
}


#f7 .zone-4 .c-for-suj{
	background-image:url('https://i.imgur.com/XDeQpQP.png')!important;
  	background-repeat:no-repeat;
  	border:1px solid var(--c14);
}

#f7 .c-focat_titre a.forumtitle{
	font-size:25px!important;
}

#f7 .zone-0 a.forumtitle, #f7 .zone-0 .cat-stat span,
#f7 .zone-1 a.forumtitle, #f7 .zone-1 .cat-stat span,
#f7 .zone-2 a.forumtitle, #f7 .zone-2 .cat-stat span,
#f7 .zone-3 a.forumtitle, #f7 .zone-3 .cat-stat span{
	color:var(--cff)!important;
}

#f7 .zone-0 a.forumtitle:hover, 
#f7 .zone-1 a.forumtitle:hover,
#f7 .zone-2 a.forumtitle:hover,
#f7 .zone-3 a.forumtitle:hover,
#f7 .zone-4 a.forumtitle:hover,
#c1 a.forumtitle:hover,
#c2 a.forumtitle:hover,
#c3 a.forumtitle:hover,
#c4 a.forumtitle:hover,
#c5 a.forumtitle:hover,
#c6 a.forumtitle:hover,
#c7 a.forumtitle:hover,
 a.forumtitle:hover,
.stack_div a.forumtitle:hover{
  	color:var(--cfond)!important;
}

#f7 .zone-0{
	border-radius:4px 0px 0px 0px;
  	background-color:var(--cvam);
  	grid-area:a;
}

#f7 .zone-1{
	background-color:var(--chim);
  	grid-area:b;
}

#f7 .zone-2{
	background-color:var(--chyb);
   	grid-area:c;
}

#f7 .zone-3{
	border-radius:0px 4px 0px 0px!important;
  	background-color:var(--chum);
  	grid-area:d;
}

#f7 .zone-4{
	border-radius:0px 0px 4px 4px!important;
  	width:1110px!important;
  	grid-area:e;
}

#f7 .zone-4 .c-focat_titre{
  grid-template-columns: 980px 100px;
  width:1100px!important;
}

#f7 .cat_list{
  grid-template-columns: 266.25px 266.25px 266.25px 266.25px; 
  grid-template-rows: 155px 155px; 
  gap: 15px 15px; 
  grid-template-areas: 
    "a b c d"
    "e e e e"; 
  justify-content: start; 
  align-content: start; 
  justify-items: center; 
  align-items: start; 
  width: 1110px; 
  height: 325px; 
  width:1110px!important;
  gap:15px!important; 
}

#f7 .c-focat_list.zone-0, #f7 .c-focat_list.zone-1, #f7 .c-focat_list.zone-2, #f7 .c-focat_list.zone-3{
  width:266.25px!important;
}

#f7 .c-focat_list{
	height:155px!important;
}

#f7 .zone-0 .c-for_last, #f7 .zone-1 .c-for_last, #f7 .zone-2 .c-for_last, #f7 .zone-3 .c-for_last{
  	width:226.25px!important;
  	grid-template-columns: 70px 156px!important;
}

#f7 .zone-0 .c-for_last-info, #f7 .zone-1 .c-for_last-info, #f7 .zone-2 .c-for_last-info, #f7 .zone-3 .c-for_last-info{
	width:156px!important;
}

#f7 .zone-0 .c-for_last-info a, #f7 .zone-1 .c-for_last-info a, #f7 .zone-2 .c-for_last-info a, #f7 .zone-3 .c-for_last-info a{
      width:156px!important;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}

#f7 .zone-0 .c-for_info, #f7 .zone-1 .c-for_info, #f7 .zone-2 .c-for_info, #f7 .zone-3 .c-for_info{
  	width:236.25px!important;
}

#f7 .zone-0 .c-for-suj, #f7 .zone-1 .c-for-suj, #f7 .zone-2 .c-for-suj, #f7 .zone-3 .c-for-suj{
	width:256.25px!important;
}

#f7 .zone-0 .c-focat_titre, #f7 .zone-1 .c-focat_titre, #f7 .zone-2 .c-focat_titre, #f7 .zone-3 .c-focat_titre{
width:256.25px!important;
grid-template-columns: 156.25px 100px!important;
grid-template-rows: 44px;
gap: 0px 0px;
grid-auto-flow: row;
justify-content: start;
align-content: start;
justify-items: start;
align-items: start;
grid-template-areas:
  ". .";
height: 44px;
}

#f7 .c-for-suj{
	height:100px;
}

#c2 .c-focat_list, #c6 .c-focat_list, #c7 .c-focat_list, #c13 .c-focat_list{
  	width:547.5!important; 	
}

#c2 .c-focat_titre, #c6 .c-focat_titre, #c7 .c-focat_titre, #c13 .c-focat_titre,
#c2 .c-for-suj, #c6 .c-for-suj, #c7 .c-for-suj, #c13 .c-for-suj{
  	width:537.5!important; 	
}

#c2 .c-for_desc, #c6 .c-for_desc, #c7 .c-for_desc, #c13 .c-for_desc,
#c2 .c-for_info, #c6 .c-for_info, #c7 .c-for_info, #c13 .c-for_info{
 	width:517.5!important; 	
}

#c2 .c-for_last, #c6 .c-for_last, #c7 .c-for_last, #c13 .c-for_last{
  	width:507.5!important; 	
}

.cat-stat{
  width:100px!important;
}

#c2 .catego_titre{
    height:99.19px!important;

}

#c2 #h1-category{
    height:65px!important;
    padding-top:41px;
}

#c2{
    height:359px!important;
    margin-top:25px;
}

#c2 .cat_list{
	height:230px!important;
  	width:1110px!important;
  	grid-template-columns: 547.5px 547.5px !important;
    	grid-template-rows: 230px !important;
  	grid-template-areas: "a b";
  	gap:0 15px!important;
}

#c2 .c-focat_list:first-of-type{
	border-radius:4px 0px 0px 4px!important;
}

#c2 .c-focat_list{
	border-radius:0px 4px 4px 0px;
}

/*TRIADE (ROW DE 3)*/

#c3, #c5, #c14{
    height:359px!important;
	margin-top:25px;
}

#c3 .c-focat_titre, #c5 .c-focat_titre, #c14 .c-focat_titre{
	width:350px!important;
  	display:flex!important;
  	flex-direction:row!important;
  	gap:10px!important;
}

#c3 .c-for_info, #c5 .c-for_info, #c14 .c-for_info{
	width:330px!important;
}

#c3 .c-for_last, #c5 .c-for_last, #c14 .c-for_last{
    width:310px!important;
    grid-template-columns: 70px 230px!important;
}

#c3 .c-for_last-info, #c5 .c-for_last-info, #c14 .c-for_last-info{
	width:230px!important;
}

#c3 .c-focat_titre a.forumtitle, #c5 .c-focat_titre a.forumtitle, #c14 .c-focat_titre a.forumtitle{
	font-size:25px!important;
  	width:250px!important;
  	white-space: nowrap;
}

#c3 .cat_list, #c5 .cat_list, #c14 .cat_list{
    display:flex!important;
    flex-direction:row!important;
    flex-wrap:wrap!important;
    gap:15px!important;
    width:1110px!important;
    height:230px!important;
}

#c3 .catzone1-2, #c5 .catzone1-2, #c14 .catzone1-2{
    width:360px!important;
}

#c3 .c-focat_list.catzone1-2.zone-0, #c5 .c-focat_list.catzone1-2.zone-0, #c14 .c-focat_list.catzone1-2.zone-0{
	border-radius:4px 0px 0px 4px!important;
}

#c3 .c-focat_list.catzone1-2.zone-2, #c5 .c-focat_list.catzone1-2.zone-2, #c14 .c-focat_list.catzone1-2.zone-2{
	border-radius:0px 4px 4px 0px!important;
}

#c3 .c-sub-for, #c5 .c-sub-for, #c14 .c-sub-for{
	display:none;
}

#c3 .catego_titre, #c5 .catego_titr, #c14 .catego_titre{
    height:99.19px!important;

}

#c3 #h1-category, #c5 #h1-category, #c14 #h1-category{
    height:65px!important;
    padding-top:41px;
}
