.mainmenu_lorebook{
    width:302px;
    height:100%;
    display:flex;
    flex-direction: column;
    position:fixed;
    background-color:var(--cfond);
    border-image: linear-gradient(var(--cdeu) 0%, var(--cacc) 100%) 1;
    border-width:2px;
    border-style:solid;
    border-left:none;
    border-top:none;
    border-bottom:none;
}

.bouton_retour{
    border-image: linear-gradient(to right, var(--cacc) 0%, var(--cdeu) 100%) 1;
    border-width:2px;
    padding:0px 5px;
    border-style:solid;
    border-left:none;
    border-right:none;
    border-top:none;
}


a.retour ion-icon{
    color:var(--cdeu);
    font-size:40px;
    position:relative;
    top:0px!important;
    margin:0px!important;
}

a.retour:hover ion-icon{
    color:var(--chim)!important;
}

a.retour{
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-size:22px;
    color:var(--cfondpale)!important;
    letter-spacing:0px!important;
}

a.retour div{
    position:relative;
    top:6px;
}

a.retour span.f-name{
    color:var(--cdeu);
}

a.retour:hover{
    color:var(--cff);
}

a.retour:hover span{
    color:var(--chim);
    letter-spacing:0px!important;
}

.titre-menu{
    width:300px;
    height:38px;
    color:var(--cofwhite);
    font-size:30px;
    padding:0px 5px 0px 20px;
    text-shadow: 0px 4px 0px var(--cdeu);
    background-color:var(--c14);
    border-image: linear-gradient(to right, var(--cacc) 0%, var(--cdeu) 100%) 1;
    border-width:2px;
    border-style:solid;
    border-top:none;
    border-left:none;
    border-right:none;
    display: grid; 
    grid-template-columns: 260fr 30px; 
    grid-template-rows: 38px; 
    gap: 0px 10px; 
    grid-template-areas: 
    ". ."; 
}

.titre-menu2{
    width:300px;
    height:38px;
    color:var(--cofwhite);
    font-size:30px;
    padding:0px 5px 0px 20px;
    text-shadow: 0px 4px 0px var(--cdeu);
    background-color:var(--c14);
    border-image: linear-gradient(to right, var(--cacc) 0%, var(--cdeu) 100%) 1;
    border-width:2px;
    border-style:solid;
    border-left:none;
    border-right:none;
    display: grid; 
    grid-template-columns: 260fr 30px; 
    grid-template-rows: 38px; 
    gap: 0px 10px; 
    grid-template-areas: 
    ". .";
}

a.mainmenu{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight:300;
    width:300px;
    padding:0px 5px;
    text-align:left;
    font-size:18px;
    height:31px;
    display: grid; 
    grid-template-columns: 20px 40px 1fr; 
    grid-template-rows: 100%; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". ."; 
    justify-content: start; 
    align-content: start; 
    justify-items: start; 
    align-items: center; 
}

.titre-menu ion-icon,.titre-menu2 ion-icon{
    position:relative;
    top:4px; 
    
}

a.mainmenu ion-icon{
    position:relative;
    top:2px;
    margin:0px 10px;
}

a.mainmenu .ligne-menu{
    width:20px;
    height:30px;
}

a.mainmenu .ligne{
    margin:15px 0 0 auto;
    width:2px;
    height:2px;
    background-color:var(--cff);
}

.mainmenu:hover{
    letter-spacing:.5px;
    background-color:rgba(18, 18, 18, .7);
}

.mainmenu.diff:hover{
    letter-spacing:.2px;
    background-color:rgba(18, 18, 18, .7);
}

a.mainmenu:hover .ligne{
    width:20px;
}

a.mainmenu.select{
    color:var(--cff);    
    background-color: var(--cdeu)
}
a.mainmenu.select .ligne{
    background-color:var(--cff)!important;
    width:10px!important;
}

a.mainmenu.select:hover{
    background-color:rgba(58, 114, 226, 0.5);
}

a.mainmenu.select:hover .ligne{
    background-color:var(--cff)!important;
    width:20px!important;
}

.mainmenu_pliables{
    overflow:hidden;
    height:36px;
}

.mainmenu_pliables.intro.menu_unfolded{
    height:193px!important;
}

.mainmenu_pliables.guides.menu_unfolded{
    height:162px;
}

.mainmenu_pliables.general.menu_unfolded{
    height:224px;
}
.mainmenu_pliables.feps.menu_unfolded{
    height:286px;
}
.mainmenu_pliables.feps{
    height:38px;
}
