.avatarlisting, .joblisting, .reservationlisting{
  display:flex;
  flex-direction:row;
  gap:5px;
  border-bottom:1px solid #dbdbdb;
  margin:5px 0px;
}

.avatarlisting span, .joblisting span, .reservationlisting span{
  font-weight:bold;
  text-transform:uppercase;
}

.avatarlisting .feat-by, .joblisting .feat-by, .reservationlisting .feat-by{
    font-weight:bold;
}

#les_reservations .reservationlisting{
  margin:-15px 0px 5px 30px!important;
  width:720px!important;
}
#les_reservations .artist-og a{
  color:var(--cdeu);
}
#les_reservations .artist-og a:hover{
  color:var(--cvam);
}

.text_overall.nom-prenom-liste{
	background-color:none!important;
	padding:none!important;
	display:flex!imporant;
	flex-direction:row!important;
	gap:10px!important;
}

.text_overall .nomslisting, .text_overall .prenomslisting{
	background-color:none!important;
	padding:15px;
	min-width:19px;
	max-width:305px;
}
