.avatarlisting, .joblisting{
  display:flex;
  flex-direction:row;
  gap:5px;
  border-bottom:1px solid #dbdbdb;
  margin:5px 0px;
}

.avatarlisting span, .joblisting span{
  font-weight:bold;
  text-transform:uppercase;
}

.avatarlisting .feat-by, .joblisting .feat-by{
    font-weight:bold;
}

.reservation_listing{
  display:flex;
  flex-direction:row;
  gap:5px;
}

.reservation_listing span{
  font-weight:bold;
  text-transform:uppercase;
}

.reservation_listing .feat-by{
    font-weight:bold;
}
