.avatarlisting, .joblisting, .reservationlisting{
  display:flex;
  flex-direction:row;
  gap:5px;
  border-bottom:1px solid #dbdbdb;
  margin:5px 0px;
}

.avatarlisting span, .joblisting span, .reservationlisting span{
  font-weight:bold;
  text-transform:uppercase;
}

.avatarlisting .feat-by, .joblisting .feat-by, .reservationlisting .feat-by{
    font-weight:bold;
}

#les_reservations .reservationlisting{
  margin:-15px 0px 5px 0px!important;
}
