.block-staff.quinny, .block-staff.moony{
    display:none;
}
.s_contenu{
    display:flex;
    padding:30px;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap:60px;
    border-radius:4px;
    margin:30px;
    position:relative;
}

.block-staff{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 400px; 
    grid-template-rows: 6px 304px; 
    gap: 0px 0px; 
    grid-template-areas: 
    "."
    "."; 
    justify-content: start; 
    align-content: start; 
    justify-items: start; 
    align-items: start; 
    width: 400px; 
    height: 310px;
    position:relative;
}

.block-staff.bottom{
    grid-template-rows: 304px 6px!important; 
}

.bande{    
    width:400px;
    height:6px;
    background: var(--cacc);
}

.bande.d{
    background: var(--cdeu);
}

.tga{ 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;  
}

.bdr{ 
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.c-admin{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 205px 195px; 
    grid-template-rows: 160px 138px; 
    gap: 7px 10px; 
    grid-template-areas: 
    "a b"
    "c d"; 
    justify-content: start; 
    align-content: start; 
    justify-items: start; 
    align-items: start; 
    width: 400px; 
    height: 304px; 
    border-image: linear-gradient(var(--cacc) 0%, var(--cdeu) 100%) 1;
    border-width:1px;
    border-style:solid;
    background-color:rgba(18, 18, 18, 0.7);

}

.admin-f{
    width:400px;
    height:307px;    
    background: var(--cacc);
    background: linear-gradient(0deg, rgba(58, 114, 226, 1) 0%, rgba(0, 222, 185, 1) 50%);
    border-bottom-right-radius: 50%;
    position:relative;
    top:-147px;
    left:-190px;
}

.img_cutter2{
    width:400px;
    height:304px;
    overflow:hidden;
    border-bottom-right-radius: 50%;
    position:relative;
    top:-10px;
    right:10px;
}


.admin-f img{
    width:200px;
    height:150px;
    margin-top:157px;
    margin-left:200px;
}

.img_cutter1{
    width:210px;
    height:160px;
    overflow:hidden;
    position:relative;
    grid-area:a;
}

.tea .img_cutter2{
    background-image:url('https://i.imgur.com/Rourukt.png')!important;
    background-size: 200px 150px;
    background-position:bottom 0px right 0px;
}

.quinny .img_cutter2{
    background-image:url('https://i.imgur.com/jjHImTd.png')!important;
    background-size: 200px 147px;
    background-position:bottom 0px right 0px;
}

.ketle .img_cutter2{
    background-image:url('https://i.imgur.com/rVTfwoT.png')!important;
    background-size: 200px 150px;
    background-position:bottom 0px right 0px;
}

.img_cutter2 img{
    transition: 1s!important;
}

.ketle:hover img{
    opacity:0!important;
}

.tea:hover img{
    opacity:0!important;
}

.quinny:hover img{
    opacity:0!important;
}

.alia .img_cutter2{
    background-image:url('https://i.imgur.com/1houfHZ.png');
    background-position:bottom 0px right 0px;
}

.alia:hover .img_cutter2 img{
    opacity:0!important;
}
.alia img{
    transform: scaleX(-1);
}

.moony .img_cutter2{
    background-image:url('https://i.imgur.com/fHb8Ieh.png')!important;
}

.moony:hover img{
    opacity:0;
}

.aki .img_cutter2{
    background-image:url('https://i.imgur.com/JUfzBGY.png')!important;
}

.aki:hover img{
    opacity:0;
}



.user-ntitle,
.user-name{
    font-size:35px;
    color:var(--cff);
    width:172px;
    text-align:center;
    margin-top:5px;
    font-size: 49px;
    background: -webkit-linear-gradient(var(--cacc), var(--cdeu));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height:60px;
    position:relative;
    top:-5px;
    margin-bottom:-5px;
    text-transform: uppercase;
}

.user-ntitle{
    font-size: 25px!important;
    height:35px!important;
}

.random-infos.topper{
    justify-content: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px;
    color:var(--cff);
    width:172px;
}

.l-infos1{
    border-radius:4px;
    background: var(--cacc);
    background: linear-gradient(0deg, rgba(58, 114, 226, 1) 0%, rgba(0, 222, 185, 1) 50%);
    position:relative;
    display:flex;
    flex-direction:row;
    width:auto;
}

.l-infos{
    width:100%;
    border-radius:4px;
    background: var(--cacc);
    background: linear-gradient(0deg, rgba(58, 114, 226, 1) 0%, rgba(0, 222, 185, 1) 50%);
    position:relative;
    display:flex;
    flex-direction:row;
    height:58px;
}

.l-infos1 div{
    background-color:var(--c14);
    margin:1px;
    padding:5px 10px;
    border-radius:4px;
}



.s-txt{
    width:100%;
    border-radius:4px;
    padding:5px 10px;
    margin:1px;
    background-color:var(--c14);
}

.second{
    margin:0px 0px 15px 15px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:5px;
    color:var(--cff);
    grid-area:c;
    position:relative;
    top:-20px;
}


.l-infos a, .msg_admin .s-txt div a{
    color:var(--cacc)!important;
    font-weight:bold;
}

.l-infos a:hover, .msg_admin .s-txt div a:hover{
    color:var(--cvam)!important;
}

.i-staff{
    transform:rotate(-.25turn);
    width:34px!important;
    padding-left:6px;
    position:relative;
    top:15px;
    left:-7px;
}


.s-titre{
    display: grid;
    grid-template-columns: 18px;
    grid-template-rows: 18px 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: start;
    align-content: start;
    justify-items: start;
    align-items: start;
    grid-template-areas:
    "."
    ".";
    width: 18px;
    height: 100%;
    color:var(--c14);
}

.s-titre ion-icon{
    font-size:18px;
    margin:3px 3px 3px 1px;
    width:18px!important;
    
}

.s-contact{
    font-size:20px;
    width:100%;
    text-align:right;
    color:var(--cacc);
    margin-bottom:-11px;
}

.list-conten{
    position:relative;
    width:137px;
    height:27px;
}

.listing-comptes{
    width:174px;
    border-radius:4px;
    background: var(--cacc);
    background: linear-gradient(0deg, rgba(58, 114, 226, 1) 0%, rgba(0, 222, 185, 1) 50%);
    position:relative;
    z-index: auto;
    display:flex;
    flex-direction:column;
    padding:1px 1px 0px 1px;

}

.listing_t{
    text-align:center;
    background-color:var(--c14);
    padding:5px 10px;
    border-radius:4px;
    color:var(--cff);
    margin-bottom:1px;
}




a.s-compte{
    background-color:var(--c14);
    backdrop-filter: brightness(50%) saturate(30%);
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 26px 119px 27px; 
    grid-template-rows: 27px; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . ."; 
    justify-content: center; 
    align-content: start; 
    justify-items: start; 
    align-items: start; 
    width: 172px; 
    height: 27px;
}

.s-compte ion-icon{
    transform: rotate(180deg);
    margin:5px 2px 0px 10px;

}

.u-name{
    width:119px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:5px;
}

.s-compte:hover{
    background-color:transparent!important;
}


.listing_l{
    width:174px; 
    border-radius:0px 0px 4px 4px;
    text-align:left;
    display:flex;
    flex-direction: column;
    gap:1px;
    position: absolute;
    z-index: 9999;
    top:28px;
    left:0px;
    background: var(--cdeu);
    padding:1px;
    background: linear-gradient(0deg, rgba(0, 222, 185, 1) 0%, rgba(58, 114, 226, 1) 100%);
}


.s-compte.lst{
    border-radius:0px 0px 4px 4px!important;
}

.s-compte.first{
    border-radius:4px 4px 0px 0px!important;
}

.c-dot{
    height:7px;
    width:7px;
    margin:10px 0px 10px 0px;
    border-radius:4px;
}

.s-compte:hover .c-dot{
    width:14px;
}

.s-compte.va .c-dot{
    background-color:var(--cvam);
}
.s-compte.ch .c-dot{
    background-color:var(--chim);
}
.s-compte.hy .c-dot{
    background-color:var(--chyb);
}
.s-compte.hu .c-dot{
    background-color:var(--chum);
}

.btw{
    border-radius:0px!important;
}

.troisieme{
    display: flex;
    flex-direction: column;
}

.msg_admin{
    border-radius:4px;
    background: var(--cacc);
    background: linear-gradient(0deg, rgba(58, 114, 226, 1) 0%, rgba(0, 222, 185, 1) 100%);
    position:relative;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    height:85px;
    margin-bottom:5px;
    width:174px;
}


.msg_admin ion-icon{
    transform: scaleX(-1)
}

.i-msg{
    text-align:center;
    position:relative;
    width:18px;
    height:57px;    
    margin-bottom:10px;
    overflow:hidden;
}

.i-msg div{
    height:18px;
    width:31px;  
    transform:rotate(-.25turn);
    position:absolute;
    top:33px;
    left:-5px;
}

.msg_admin .s-txt{
    height:83px;
    padding:0px!important;
    overflow:hidden;
    border-radius:4px;
}

.msg_admin .s-txt div{
    height:83px;
    padding:5px 10px;
    overflow-y:auto;
    scrollbar-width: thin;
    scrollbar-color: var(--cacc) var(--c14);
    color:var(--cff);
}

.s-txt.role-info{
    height:56px;
    padding:0px!important;
    overflow:hidden;
    border-radius:4px;
}
.s-txt.role-info div.role{
    height:56px;
    padding:5px 10px;
    overflow-y:auto;
    scrollbar-width: thin;
    scrollbar-color: var(--cacc) var(--c14);
    color:var(--cff);
}

.squirk, .squirk .listing_t{
    border-radius:4px 4px 0px 0px!important;
}

.s-compte.last{
    border-radius:0px 0px 4px 4px!important;
}

