.dcslisting ion-icon{
    color:#ffac33;
	position:relative;
	top:1.5px;
}

.avatarlisting, .joblisting, .reservationlisting{
  display:flex;
  flex-direction:row;
  gap:5px;
  border-bottom:1px solid #dbdbdb;
  margin:5px 0px;
}

.avatarlisting span, .joblisting span, .reservationlisting span{
  font-weight:bold;
  text-transform:uppercase;
}

.avatarlisting .feat-by, .joblisting .feat-by, .reservationlisting .feat-by{
    font-weight:bold;
}

#les_reservations .reservationlisting{
  margin:-15px 0px 5px 30px!important;
  width:720px!important;
}
#les_reservations .artist-og a{
  color:var(--cdeu);
}
#les_reservations .artist-og a:hover{
  color:var(--cvam);
}

.nom-prenom-liste{
	background-color:none!important;
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: auto; 
	gap: 0px 10px; 
	grid-template-areas: 
	". ."; 
}

.nomslisting, .prenomslisting{
	background-color:var(--cofwhite);
	padding:15px;
	width:100%;
}

.nomslisting #noms_liste, .prenomslisting #prenoms_liste{
	width:100%!important;
	
}

.nomslisting #noms_liste br, .prenomslisting #prenoms_liste br{
	display:none!important;
}
