/**---------------------------- DEUS **/

.post.message_deus .factcheck_title{
	text-shadow: 0px 6px 2px var(--cdeu)!important;
}
.post.message_deus .sliderinfobase .field_facts,
.post.message_deus .sliderinfobase .sliderinfo,
.post.message_deus .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_deus .sliderinfobase .field_feat,
.post.message_deus .sliderinfobase .field_image-profil,
.post.message_deus .sliderinfobase .factcheck_info_btn,
.post.message_deus .postprofile-contact a.fiche_perso,
.post.message_deus .contact_avatar a.profile-icon,
.post.message_deus,
.post.message_deus .avaBorder,
.post.message_deus blockquote{
	border-color:var(--cdeu)!important;
}

.post.message_deus .sliderinfobase .degrade_profil{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.6) 0%, rgba(58, 114, 226, 1) 100%)!important;

}
.post.message_deus .sliderinfobase .sliderinfo .factcheck_title{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0) 0%, rgba(58, 114, 226, 1) 100%)!important;
}


.post.message_deus .sliderinfobase .field_image-profil,
.post.message_deus .post-head div.field_groupe-staff{
	background-color:var(--cdeu)!important;
}

.post.message_deus .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--cdeu)!important;
}

.post.message_deus .post-head{
    background-image:url('https://appletheocracy.github.io/stellaastra/img/messages/groupes/FondDeus_01.png')!important;
}

/**---------------------------- PNJ **/
.post.message_pnj .factcheck_title{
	text-shadow: 0px 6px 2px var(--cpnj)!important;
}
.post.message_pnj .sliderinfobase .field_facts,
.post.message_pnj .sliderinfobase .sliderinfo,
.post.message_pnj .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_pnj .sliderinfobase .field_feat,
.post.message_pnj .sliderinfobase .field_image-profil,
.post.message_pnj .sliderinfobase .factcheck_info_btn,
.post.message_pnj .postprofile-contact a.fiche_perso,
.post.message_pnj .contact_avatar a.profile-icon,
.post.message_pnj,
.post.message_pnj .avaBorder,
.post.message_pnj blockquote{
	border-color:var(--cpnj)!important;
}

.post.message_pnj .sliderinfobase .degrade_profil{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.6) 0%, rgba(192, 131, 207, 1) 100%)!important;

}
.post.message_pnj .sliderinfobase .sliderinfo .factcheck_title{
    background: var(--cfond);
    background: linear-gradient(0deg,rgba(50, 50, 50, 0) 0%, rgba(192, 131, 207, 1) 100%)!important;
}


.post.message_pnj .sliderinfobase .field_image-profil,
.post.message_pnj .post-head div.field_groupe-pnj{
	background-color:var(--cpnj)!important;
}

.post.message_pnj .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--cpnj)!important;
}

.post.message_pnj .post-head{
    background-image:url('https://appletheocracy.github.io/stellaastra/img/messages/groupes/FondPNJ_01.png')!important;
}

/**---------------------------- VAMPIRES **/
.post.message_vampire .factcheck_title{
	text-shadow: 0px 6px 2px var(--cvam)!important;
}
.post.message_vampire .sliderinfobase .field_facts,
.post.message_vampire .sliderinfobase .sliderinfo,
.post.message_vampire .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_vampire .sliderinfobase .field_feat,
.post.message_vampire .sliderinfobase .field_image-profil,
.post.message_vampire .sliderinfobase .factcheck_info_btn,
.post.message_vampire .postprofile-contact a.fiche_perso,
.post.message_vampire .contact_avatar a.profile-icon,
.post.message_vampire,
.post.message_vampire .avaBorder,
.post.message_vampire blockquote{
	border-color:var(--cvam)!important;
}

.post.message_vampire .sliderinfobase .degrade_profil{
	background: var(--cfond);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(211, 17, 65, 1) 100%)!important;

}
.post.message_vampire .sliderinfobase .sliderinfo .factcheck_title{
	background: var(--cvam)!important;
  	background: linear-gradient(0deg,rgba(211, 17, 65, 0) 0%, rgba(211, 17, 65, 1) 100%)!important;
}


.post.message_vampire .sliderinfobase .field_image-profil,
.post.message_vampire .post-head div.field_groupe-vampire{
	background-color:var(--cvam)!important;
}

.post.message_vampire .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--cvam)!important;
}

.post.message_vampire .post-head{
	background-image:url('https://appletheocracy.github.io/stellaastra/img/messages/groupes/FondVampires_01.png')!important;
}

/**---------------------------- HYBRIDES **/
.post.message_hybride .factcheck_title{
	text-shadow: 0px 6px 2px var(--chyb)!important;
}
.post.message_hybride .sliderinfobase .field_facts,
.post.message_hybride .sliderinfobase .sliderinfo,
.post.message_hybride .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_hybride .sliderinfobase .field_feat,
.post.message_hybride .sliderinfobase .field_image-profil,
.post.message_hybride .sliderinfobase .factcheck_info_btn,
.post.message_hybride .postprofile-contact a.fiche_perso,
.post.message_hybride .contact_avatar a.profile-icon,
.post.message_hybride,
.post.message_hybride .avaBorder,
.post.message_hybride blockquote{
	border-color:var(--chyb)!important;
}

.post.message_hybride .sliderinfobase .degrade_profil{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.6) 0%, rgba(192, 131, 207, 1) 100%)!important;

}
.post.message_hybride .sliderinfobase .sliderinfo .factcheck_title{
    background: var(--cfond);
    background: linear-gradient(0deg,rgba(50, 50, 50, 0) 0%, rgba(192, 131, 207, 1) 100%)!important;
}


.post.message_hybride .sliderinfobase .field_image-profil,
.post.message_hybride .post-head div.field_groupe-hybride{
	background-color:var(--chyb)!important;
}

.post.message_hybride .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--chyb)!important;
}

.post.message_hybride .post-head{
    background-image:url('https://appletheocracy.github.io/stellaastra/img/messages/groupes/FondHybride_01.png')!important;
}

/**---------------------------- HUMAINS **/
.post.message_humain .factcheck_title{
	text-shadow: 0px 6px 2px var(--chum)!important;
}
.post.message_humain .sliderinfobase .field_facts,
.post.message_humain .sliderinfobase .sliderinfo,
.post.message_humain .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_humain .sliderinfobase .field_feat,
.post.message_humain .sliderinfobase .field_image-profil,
.post.message_humain .sliderinfobase .factcheck_info_btn,
.post.message_humain .postprofile-contact a.fiche_perso,
.post.message_humain .contact_avatar a.profile-icon,
.post.message_humain,
.post.message_humain .avaBorder,
.post.message_humain blockquote{
	border-color:var(--chum)!important;
}

.post.message_humain .sliderinfobase .degrade_profil{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.6) 0%, rgba(109, 156, 114, 1) 100%)!important;

}
.post.message_humain .sliderinfobase .sliderinfo .factcheck_title{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0) 0%, rgba(109, 156, 114, 1) 100%)!important;
}


.post.message_humain .sliderinfobase .field_image-profil,
.post.message_humain .post-head div.field_groupe-humain{
	background-color:var(--chum)!important;
}

.post.message_humain .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--chum)!important;
}

.post.message_humain .post-head{
    background-image:url('https://appletheocracy.github.io/stellaastra/img/messages/groupes/FondHumains_01.png')!important;
}


