/**---------------------------- DEUS **/

.post.message_deus .factcheck_title{
	text-shadow: 0px 6px 2px var(--cdeu)!important;
}


.post.message_deus .content .ink_wrap,
.post.message_deus .content hide{
	border-color:var(--cdeu);
}
.post.message_deus .contact_avatar .infos-posteur a,
.post.message_deus .sliderinfobase .field_facts,
.post.message_deus .sliderinfobase .sliderinfo,
.post.message_deus .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_deus .sliderinfobase .field_feat,
.post.message_deus .sliderinfobase .field_image-profil,
.post.message_deus .sliderinfobase .factcheck_info_btn,
.post.message_deus .postprofile-contact a.fiche_perso,
.post.message_deus .contact_avatar a.profile-icon,
.post.message_deus,
.post.message_deus .avaBorder,
.post.message_deus blockquote{
	border-color:var(--cdeu)!important;
}

.post.message_deus .sliderinfobase .degrade_profil{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.6) 0%, rgba(58, 114, 226, 1) 100%)!important;

}
.post.message_deus .sliderinfobase .sliderinfo .factcheck_title{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0) 0%, rgba(58, 114, 226, 1) 100%)!important;
}


.post.message_deus .sliderinfobase .field_image-profil,
.post.message_deus .post-head div.field_groupe-staff{
	background-color:var(--cdeu)!important;
}

.post.message_deus .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--cdeu)!important;
}

.post.message_deus .post-head{
    background-image:url('https://i.imgur.com/YMyIAjG.png')!important;
}

/**---------------------------- PNJ **/
.post.message_pnj .factcheck_title{
	text-shadow: 0px 6px 2px var(--cpnj)!important;
}

.post.message_pnj .content .ink_wrap,
.post.message_pnj .content hide{
	border-color:var(--cpnj);
}
.post.message_pnj .contact_avatar .infos-posteur a,
.post.message_pnj .sliderinfobase .field_facts,
.post.message_pnj .sliderinfobase .sliderinfo,
.post.message_pnj .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_pnj .sliderinfobase .field_feat,
.post.message_pnj .sliderinfobase .field_image-profil,
.post.message_pnj .sliderinfobase .factcheck_info_btn,
.post.message_pnj .postprofile-contact a.fiche_perso,
.post.message_pnj .contact_avatar a.profile-icon,
.post.message_pnj,
.post.message_pnj .avaBorder,
.post.message_pnj blockquote{
	border-color:var(--cpnj)!important;
}

.post.message_pnj .sliderinfobase .degrade_profil{
    background: var(--cfond);
    background: linear-gradient(0deg,rgba(50, 50, 50, 0.6) 0%, rgba(145, 182, 255, 1) 100%)!important;

}
.post.message_pnj .sliderinfobase .sliderinfo .factcheck_title{
    background: var(--cfond);
    background: linear-gradient(0deg,rgba(50, 50, 50, 0) 0%, rgba(145, 182, 255, 1) 100%);
}


.post.message_pnj .sliderinfobase .field_image-profil,
.post.message_pnj .post-head div.field_groupe-pnj{
	background-color:var(--cpnj)!important;
}

.post.message_pnj .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--cpnj)!important;
}

.post.message_pnj .post-head{
    background-image:url('https://i.imgur.com/goum8dF.png')!important;
}

/**---------------------------- VAMPIRES **/
.post.message_vampire .factcheck_title,
.vampire .titre_de_fiche{
	text-shadow: 0px 6px 2px var(--cvam)!important;
}

.post.message_vampire .content .ink_wrap,
.post.message_vampire .content hide{
	border-color:var(--cvam);
}
.post.message_vampire .contact_avatar .infos-posteur a,
.post.message_vampire .sliderinfobase .field_facts,
.post.message_vampire .sliderinfobase .sliderinfo,
.post.message_vampire .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_vampire .sliderinfobase .field_feat,
.post.message_vampire .sliderinfobase .field_image-profil,
.post.message_vampire .sliderinfobase .factcheck_info_btn,
.post.message_vampire .postprofile-contact a.fiche_perso,
.post.message_vampire .contact_avatar a.profile-icon,
.post.message_vampire,
.post.message_vampire .avaBorder,
.post.message_vampire blockquote,
.form_wrapper_contour input.fiche_btn_vampire.selected,
.vampire .form_wrap,
.vampire .entete_groupe{
	border-color:var(--cvam)!important;
}

.form_wrapper_contour.vampire{
    border-color:var(--vam5);
}

.post.message_vampire .sliderinfobase .degrade_profil{
	background: var(--cfond);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(211, 17, 65, 1) 100%)!important;

}
.post.message_vampire .sliderinfobase .sliderinfo .factcheck_title{
	background: var(--cvam)!important;
  	background: linear-gradient(0deg,rgba(211, 17, 65, 0) 0%, rgba(211, 17, 65, 1) 100%)!important;
}


.post.message_vampire .sliderinfobase .field_image-profil,
.post.message_vampire .post-head div.field_groupe-vampire,
.form_wrapper_contour.vampire .separator{
	background-color:var(--cvam)!important;
}

.post.message_vampire .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--cvam)!important;
}

.post.message_vampire .post-head{
	background-image:url('https://i.imgur.com/7JthE5C.png')!important;
}

.form_wrapper_contour.vampire .separator2{
    background: #D31141;
    background: linear-gradient(90deg, rgba(211, 17, 65, 1) 0%, rgba(211, 17, 65, 0.5) 50%, rgba(211, 17, 65, 1) 100%);
}

/**---------------------------- HYBRIDES **/
.post.message_hybride .factcheck_title,
.hybride .titre_de_fiche{
	text-shadow: 0px 6px 2px var(--chyb)!important;
}

.post.message_hybride .content .ink_wrap,
.post.message_hybride .content hide{
	border-color:var(--chyb);
}
.post.message_hybride .contact_avatar .infos-posteur a,
.post.message_hybride .sliderinfobase .field_facts,
.post.message_hybride .sliderinfobase .sliderinfo,
.post.message_hybride .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_hybride .sliderinfobase .field_feat,
.post.message_hybride .sliderinfobase .field_image-profil,
.post.message_hybride .sliderinfobase .factcheck_info_btn,
.post.message_hybride .postprofile-contact a.fiche_perso,
.post.message_hybride .contact_avatar a.profile-icon,
.post.message_hybride,
.post.message_hybride .avaBorder,
.post.message_hybride blockquote,
.form_wrapper_contour input.fiche_btn_hybride.selected,
.hybride .form_wrap,
.hybride .entete_groupe{
	border-color:var(--chyb)!important;
}

.form_wrapper_contour.hybride{
    border-color:var(--hyb5);
}

.post.message_hybride .sliderinfobase .degrade_profil{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.6) 0%, rgba(192, 131, 207, 1) 100%)!important;

}
.post.message_hybride .sliderinfobase .sliderinfo .factcheck_title{
    background: var(--cfond);
    background: linear-gradient(0deg,rgba(50, 50, 50, 0) 0%, rgba(192, 131, 207, 1) 100%)!important;
}



.post.message_hybride .sliderinfobase .field_image-profil,
.post.message_hybride .post-head div.field_groupe-hybride,
.form_wrapper_contour.hybride .separator{
	background-color:var(--chyb)!important;
}

.fiche_hybride .img_color1f{
	background-color:var(--hyb5)!important;
}

.post.message_hybride .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--chyb)!important;
}

.post.message_hybride .post-head{
    background-image:url('https://i.imgur.com/1rHLgKX.png')!important;
}

.form_wrapper_contour.hybride  .separator2{
    background: #C083CF;
    background: linear-gradient(90deg, rgba(192, 131, 207, 1) 0%, rgba(192, 131, 207, 0.5) 50%, rgba(192, 131, 207, 1) 100%);
}

/**---------------------------- S **/

.post.message_humain .factcheck_title,
.humain .titre_de_fiche{
	text-shadow: 0px 6px 2px var(--chum)!important;
}

.post.message_humain .content .ink_wrap,
.post.message_humain .content hide{
	border-color:var(--chum);	
}
.post.message_humain .contact_avatar .infos-posteur a,
.post.message_humain .sliderinfobase .field_facts,
.post.message_humain .sliderinfobase .sliderinfo,
.post.message_humain .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_humain .sliderinfobase .field_feat,
.post.message_humain .sliderinfobase .field_image-profil,
.post.message_humain .sliderinfobase .factcheck_info_btn,
.post.message_humain .postprofile-contact a.fiche_perso,
.post.message_humain .contact_avatar a.profile-icon,
.post.message_humain,
.post.message_humain .avaBorder,
.post.message_humain blockquote,
.form_wrapper_contour input.fiche_btn_humain.selected,
.humain .form_wrap,
.humain .entete_groupe{
	border-color:var(--chum)!important;
}

.form_wrapper_contour.humain{
    border-color:var(--hum5);
}

.post.message_humain .sliderinfobase .degrade_profil{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.6) 0%, rgba(109, 156, 114, 1) 100%)!important;

}
.post.message_humain .sliderinfobase .sliderinfo .factcheck_title{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0) 0%, rgba(109, 156, 114, 1) 100%)!important;
}

.post.message_humain .sliderinfobase .field_image-profil,
.post.message_humain .post-head div.field_groupe-humain,
.form_wrapper_contour.humain .separator{
	background-color:var(--chum)!important;
}

.post.message_humain .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--chum)!important;
}

.post.message_humain .post-head{
    background-image:url('https://i.imgur.com/pMg5vOW.png')!important;
}

.form_wrapper_contour.humain .separator2{
    background: #6D9C72;
    background: linear-gradient(90deg, rgba(109, 156, 114, 1) 0%, rgba(109, 156, 114, 0.3) 50%, rgba(109, 156, 114, 1) 100%);
}

/**---------------------------- CHIMÈRES **/
.post.message_chimere .factcheck_title,
.chimere .titre_de_fiche{
	text-shadow: 0px 6px 2px var(--chim)!important;
}

.post.message_chimere .content .ink_wrap,
.post.message_chimere .content hide{
	border-color:var(--chim);
}
.post.message_chimere .contact_avatar .infos-posteur a,
.post.message_chimere .sliderinfobase .field_facts,
.post.message_chimere .sliderinfobase .sliderinfo,
.post.message_chimere .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_chimere .sliderinfobase .field_feat,
.post.message_chimere .sliderinfobase .field_image-profil,
.post.message_chimere .sliderinfobase .factcheck_info_btn,
.post.message_chimere .postprofile-contact a.fiche_perso,
.post.message_chimere .contact_avatar a.profile-icon,
.post.message_chimere,
.post.message_chimere .msgavanfo .avaBorder,
.post.message_chimere blockquote,
.form_wrapper_contour input.fiche_btn_chimere.selected,
.chimere .form_wrap,
.chimere .entete_groupe{
	border-color:var(--chim)!important;
}

.form_wrapper_contour.chimere{
    border-color:var(--chi5);
}

.post.message_chimere .sliderinfobase .degrade_profil{
    background: var(--cfond);
    background: linear-gradient(0deg,rgba(50, 50, 50, 0.6) 0%, rgba(255, 205, 97, 1) 100%);

}
.post.message_chimere .sliderinfobase .sliderinfo .factcheck_title{
    background: var(--cfond);
    background: linear-gradient(0deg,rgba(50, 50, 50, 0) 0%, rgba(255, 205, 97, 1) 100%);
}


.post.message_chimere .sliderinfobase .field_image-profil,
.post.message_chimere .post-head div.field_groupe-chimere,
.form_wrapper_contour.chimere .separator{
	background-color:var(--chim)!important;
}

.post.message_chimere .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--chim)!important;
}

.post.message_chimere .post-head{
    background-image:url('https://i.imgur.com/enyF4Mk.png')!important;
}

.form_wrapper_contour.chimere .separator2{
    background: #FFCD61;
    background: linear-gradient(90deg, rgba(255, 205, 97, 1) 0%, rgba(255, 205, 97, 0.5) 50%, rgba(255, 205, 97, 1) 100%);
}

/**---------------------------- MEMBRES **/

.post.message_membre .content .ink_wrap,
.post.message_membre .content hide{
	border-color:var(--cfond);
}

.fiche_hybride .ink_wrap,
.fiche_hybride .content hide{
	border-color:var(--chyb)!important;
}

.fiche_vampire .ink_wrap,
.fiche_vampire .content hide{
	border-color:var(--cvam)!important;
}

.fiche_humain .ink_wrap,
.fiche_humain .content hide{
	border-color:var(--chum)!important;
}

.fiche_chimere .ink_wrap,
.fiche_chimere .content hide{
	border-color:var(--chim)!important;
}
