

/*MENU DU HAUT*/
#pa_menu_haut{
    margin:0px 30px;
    background-color:var(--cff);
    height:75px;
    display: grid; 
    grid-template-columns:1fr 82px; 
    grid-template-rows: max-content; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". ."; 
}

#pa_menu_haut ul li{
    display:inline-block;
    margin:8px 4px;
}


#pa_menu_haut ul li a{
    text-decoration:none;
    border-radius:4px;
    border:1px solid var(--cfondpale);
    background-color:var(--cfondpale);
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding:17px 10px;
    font-size:18px;
    position:relative;
    top:-6px;
}

#pa_menu_haut ul li a:hover{
    color:var(--cdeu);
}

button#bouton_plier_pa{
    height:58px;
    border-radius:4px;
    border-color:var(--cfond);
    background-color:var(--cfond);
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:var(--cff);
    line-height: 83%;
    text-align:center;
    padding:13px 10px!important;
    font-size:18px;
    border:1px solid var(--cpnj);
}

button#bouton_plier_pa:hover{
    border:1px solid var(--cfond);
    color:var(--cpnj);
}

.bouton_discord{
    margin-top:8px;
}

a.pa_credits{
    color:var(--cfond);
    border-color:var(--cpnj);
    background-color:var(--cpnj);
    background-image:url('https://i.imgur.com/yyJkQcb.png');
    background-position: center;
}

a.pa_credits:hover{
    border-color:var(--cfond)!important;
    color:var(--cfond)!important;
}

/*PAGE ACCUEIL
ID ICI
*/


/*PA_ADMIN*/
.pa_bloc_admin{
    width:210px;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 5px 0px; 
    grid-template-areas: 
    "."
    "."
    "."
    "."; 
    text-align:center;
    margin:10px 10px 10px 0px;
    border-radius:10px 10px 4px 4px;
}


.pa_admin_gauche .pa_icon_admin{
  left:-10px;
}

.pa_icon_admin{
    background-color:var(--cfond);
    height:170px;
    width:170px;
    border-radius:50%;
    overflow:hidden;  
    position:relative;
}

.pa_admin_droite .pa_icon_admin img{    
    left:-57.5px;
}

.pa_admin_gauche .pa_icon_admin img{    
    margin-left:115px;
}

.pa_icon_admin img{
    position:relative;
    margin-top:63px;
    height:55px;
    width:55px;
}

.pa_admin_droite .pa_admin_c_groupe{
    right:-19px;
    padding-left:10px;
    background-color:var(--cpnj);
}

.pa_admin_gauche .pa_admin_c_groupe{
    left:-20px;
    background-color:var(--cdeu);
}
  
.pa_admin_c_groupe{
    width:170px;
    height:170px;
    background-color:var(--cff); 
    border-radius:50%;
    opacity:0.7;
    position:relative;  
}

.pa_admin_gauche .pa_admin_degrade{
    left:-85px;
}

.pa_admin_degrade{
    height:170px;
    width:170px;
    border-radius:50%;
    background-color:rgba(255, 255, 255, 0.5);
    position:relative;
    top:-63px;  
}

.pa_admin_degrade.pa_deus{
    background-color:rgba(58, 114, 226, 0.5)!important;
}

.pa_admin_degrade.pa_pnj{
    background-color:rgba(254, 203, 96, 0.5)!important;
}

.pa_admin_texte{
    width:141px;
    font-size:16px;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 85px; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". ."; 
}

.pa_admin_texte .pa_nom_admin{
    font-size:22px;
  	width:47px;
  	margin:10px 0px;
    text-align:center!important;
    position:relative;
    z-index:920;
}


.pa_admin_droite .pa_admin_texte div{
    text-align:left;
}
.pa_admin_gauche .pa_admin_texte div{
    text-align:right;
}

.pa_admin_infos{
    line-height:17px;  	
    background-color:var(--cfond);    
    height:51px;
    width:85px;
}

.pa_admin_droite .pa_admin_infos{
    padding:13px 0px 0px 4px;
}

.pa_admin_gauche .pa_admin_infos{
    padding:13px 4px 0px 0px;
}

.pa_admin_gauche,
.pa_admin_droite{
    width:210px;
    height:59px;
    border:2px solid var(--cfond);  
    color:var(--cff);
    background-color:var(--cfond);
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". ."; 
}

.pa_admin_gauche{
   grid-template-columns: 65px 1fr;  
   border-color:var(--cdeu);
}

.pa_admin_droite{
   grid-template-columns: 121px 1fr;  
   border-color:var(--cpnj);
}

.pa_ctn_avatar{
    width:85px;
    height:55px;  
    position:relative;
    z-index:919;
}

.pa_admin_gauche:hover .pa_admin_c_groupe,
.pa_admin_droite:hover .pa_admin_c_groupe{
    opacity:1!important;
}
