.post.message_deus .factcheck_title{
	text-shadow: 0px 6px 2px var(--cdeu)!important;
}
.post.message_deus .sliderinfobase .field_facts,
.post.message_deus .sliderinfobase .sliderinfo,
.post.message_deus .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_deus .sliderinfobase .field_feat,
.post.message_deus .sliderinfobase .field_image-profil,
.post.message_deus .sliderinfobase .factcheck_info_btn,
.post.message_deus .postprofile-contact a.fiche_perso,
.post.message_deus .postprofile-contact a.profile-icon,
.post.message_deus,
.post.message_deus .avaBorder,
.post.message_deus blockquote{
	border-color:var(--cdeu)!important;
}

.post.message_deus .sliderinfobase .degrade_profil{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.6) 0%, rgba(58, 114, 226, 1) 100%)!important;

}
.post.message_deus .sliderinfobase .sliderinfo .factcheck_title{
    background: var(--cfond);
    background: linear-gradient(0deg, rgba(50, 50, 50, 0) 0%, rgba(58, 114, 226, 1) 100%)!important;
}


.post.message_deus .sliderinfobase .field_image-profil,
.post.message_deus .post-head div.field_groupe-staff{
	background-color:var(--cdeu)!important;
}

.post.message_deus .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--cdeu)!important;
}

.post.message_deus .post-head{
    background-image:url('https://appletheocracy.github.io/stellaastra/img/messages/groupes/FondDeus_01.png')!important;
}
