.post.message_vampire .factcheck_title{
	text-shadow: 0px 6px 2px var(--cvam)!important;
}
.post.message_vampire .sliderinfobase .field_facts,
.post.message_vampire .sliderinfobase .sliderinfo,
.post.message_vampire .sliderinfobase .field_feat__002e-origines-__0026-artiste,
.post.message_vampire .sliderinfobase .field_feat,
.post.message_vampire .sliderinfobase .field_image-profil,
.post.message_vampire .sliderinfobase .factcheck_info_btn,
.post.message_vampire .postprofile-contact a.fiche_perso,
.post.message_vampire .contact_avatar a.profile-icon,
.post.message_vampire,
.post.message_vampire .avaBorder,
.post.message_vampire blockquote{
	border-color:var(--cvam)!important;
}

.post.message_vampire .sliderinfobase .degrade_profil{
	background: var(--cfond);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(211, 17, 65, 1) 100%)!important;

}
.post.message_vampire .sliderinfobase .sliderinfo .factcheck_title{
	background: var(--cvam)!important;
  	background: linear-gradient(0deg,rgba(211, 17, 65, 0) 0%, rgba(211, 17, 65, 1) 100%)!important;
}


.post.message_vampire .sliderinfobase .field_image-profil,
.post.message_vampire .post-head div.field_groupe-vampire{
	background-color:var(--cvam)!important;
}

.post.message_vampire .sliderinfobase .field_facts::-webkit-scrollbar-thumb:vertical{
    background-color:var(--cvam)!important;
}

.post.message_vampire .post-head{
	background-image:url('https://appletheocracy.github.io/stellaastra/img/messages/groupes/FondVampires_01.png')!important;
}
