/**----------- CODAGES DE MESSAGES -----------**/

td.msggBgn{
    height:100%;
    border:0px!important;
}

.mMSGg{
    border-radius:4px;
    width:820px;
    background-color:#e8e8e8;
    margin:0 auto;
}

.mMSGg .msggBan{
    width:772px;
    height:75px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position:relative;
    left:-40px;
    margin:10px -40px 0px 0px;
    padding:10px 0px 0px 21px;
    background-repeat: no-repeat;
}

.mMSGg .msggDeg{
    width:70px;
    height:100%;
    border-radius: 4px 0 0 4px;
}

.msggBan .msggTitle{
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-size:35px;
    font-style: normal;
    color:#fff;
}

.msggCtn{
    color:#323232;
    font-family:arial;
    width:650px;
    margin:0 auto;
    font-size:14px;
    padding-bottom:20px;
}

.msggad{
    text-align:right;
}

.msggad span{
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:18px;
}

.msggdot{
    width:60px;
    height:60px;
    border-radius:42px;
    background-color:#323232;
    border:8px solid #e8e8e8;
    color:#fff;
    text-align:center;
    font-size:42px;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    position:relative;
    left:-70px;
    margin-right:-70px;
    padding:10px;
}

.msggst{
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-size:30px;
    font-style: normal;
    color:#323232;
    width:650px;
    height:60px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding-top:2px;
}

/**----------- CODAGES DE MESSAGES ADMINS -----------**/
/*DEUS*/
.deusgg .mMSGg .msggDeg{
    background: #020024;
    background: linear-gradient(0deg,rgba(2, 0, 36, 1) 0%, rgba(48, 107, 224, 1) 75%);
}

.deusgg .msggDegbg{ 
    background-position:center top;
    background-size:70px;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
}

.deusgg .mMSGg .msggBan{
    height:70px;
    width:755px;
    border-radius:40px 0 0 40px;
    border:8px solid #e8e8e8;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position:relative;
    left:-35px;
    margin:10px -40px 0px 0px;
    padding:0px 0px 0px 21px;
    background: #00D4FF;
    background: linear-gradient(90deg,rgba(48, 107, 224, 1) 0%, rgba(0, 212, 255, 0) 100%);
}

.deusgg .genMsgg{
    width:650px;
    margin:0 auto;
    padding:0px 0px 10px 0px;
    border-radius:4px;
    border:1px solid #351DD1;
}
/*ASTRA*/
.astrgg .mMSGg .msggDeg{
    background: #306BE0;
    background: linear-gradient(0deg,rgba(254, 183, 96, 1) 0%, rgba(254, 203, 96, 1) 100%);
}

.astrgg .msggDegbg{
    background-position:center top;
    background-size:70px;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
}

.astrgg .mMSGg .msggBan{
    height:70px;
    width:755px;
    border-radius:40px 0 0 40px;
    border:8px solid #e8e8e8;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position:relative;
    left:-35px;
    margin:10px -40px 0px 0px;
    padding:0px 0px 0px 21px;
    background: #FECB60;
    background: linear-gradient(90deg,rgba(254, 203, 96, 1) 0%, rgba(254, 203, 96, 0) 100%)
}

.astrgg .genMsgg{
    width:650px;
    margin:0 auto;
    padding:0px;
    border-radius:4px;
    border:1px solid #FECB60;
}

.genMsgg .adggbox{
    width:630px;
    margin:0 auto;
    position:relative;
    top:-10px;
}

/**----------- VALIDATION DE FICHE -----------**/
/*FICHE VALIDÉE*/
.valigg .mMSGg .msggDeg{
    background: rgb(20,95,96);
    background: linear-gradient(0deg, rgba(20,95,96,1) 0%, rgba(115,215,102,1) 100%);
}
.valigg .msggDegbg{ 
    background-image:url('https://i.imgur.com/CmClLjR.png');
    background-repeat:repeat;
    width:100%;
    height:100%;
}
.valigg .mMSGg .msggBan{
    height:70px;
    width:755px;
    border-radius:40px 0 0 40px;
    border:8px solid #e8e8e8;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position:relative;
    left:-35px;
    margin:10px -40px 0px 0px;
    padding:0px 0px 0px 21px;
    background: rgb(115,215,102);
    background: linear-gradient(90deg, rgba(115,215,102,1) 0%, rgba(115,215,102,0) 100%);  
}
.valigg .genMsgg{
    width:100%;
    padding:10px;
    border-radius:4px;
    border:1px solid #73d766;
    background-color:#d5e5d3;
}
/*FICHE REFUSÉE*/
.refugg .mMSGg .msggDeg{
    background: rgb(176,40,40);
    background: linear-gradient(0deg, rgba(176,40,40,1) 0%, rgba(77,57,57,1) 100%);
}
.refugg .msggDegbg{ 
    background-image:url('https://i.imgur.com/SOAhjpa.png');
    background-repeat:repeat;
    width:100%;
    height:100%;
}
.refugg .mMSGg .msggBan{
    height:70px;
    width:755px;
    border-radius:40px 0 0 40px;
    border:8px solid #e8e8e8;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position:relative;
    left:-35px;
    margin:10px -40px 0px 0px;
    padding:0px 0px 0px 21px;
    background: rgb(176,40,40);
    background: linear-gradient(90deg, rgba(176,40,40,1) 0%, rgba(215,102,102,0) 100%);
}
.refugg .genMsgg{
    width:650px;
    margin:0 auto;
    padding:10px;
    border-radius:4px;
    border:1px solid #b02828;
}

/*FICHE ARCHIVÉE*/
.archgg .mMSGg .msggDeg{
    background: #8A8A8A;
    background: linear-gradient(0deg,rgba(138, 138, 138, 1) 0%, rgba(59, 59, 59, 1) 100%);
}
.archgg .msggDegbg{ 
    background-image:url('https://i.imgur.com/8LzDVWl.png');
    background-repeat:repeat;
    width:100%;
    height:100%;
}
.archgg .mMSGg .msggBan{
    height:70px;
    width:755px;
    border-radius:40px 0 0 40px;
    border:8px solid #e8e8e8;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position:relative;
    left:-35px;
    margin:10px -40px 0px 0px;
    padding:0px 0px 0px 21px;
    background: #3B3B3B;
    background: linear-gradient(90deg, rgba(59, 59, 59, 1) 0%, rgba(57, 119, 212, 0) 100%);
        
}
.archgg .genMsgg{
    width:650px;
    margin:0 auto;
    padding:10px;
    border-radius:4px;
    border:1px solid #3B3B3B;
}

/*FICHE SUIVI*/
.wsupgg .mMSGg .msggDeg{
    background: #3977d4;
    background: linear-gradient(0deg, rgba(57, 119, 212, 1) 0%, rgba(73, 175, 222, 1) 100%);
}
.wsupgg .msggDegbg{ 
    background-image:url('https://i.imgur.com/JVzVRA4.png');
    background-repeat:repeat;
    width:100%;
    height:100%;
}
.wsupgg .mMSGg .msggBan{
    height:70px;
    width:755px;
    border-radius:40px 0 0 40px;
    border:8px solid #e8e8e8;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position:relative;
    left:-35px;
    margin:10px -40px 0px 0px;
    padding:0px 0px 0px 21px;
    background: #3977d4;
    background: linear-gradient(90deg, rgba(57, 119, 212, 1) 0%, rgba(73, 175, 222, 0) 100%);
}
.wsupgg .genMsgg{
    width:650px;
    margin:0 auto;
    padding:10px;
    border-radius:4px;
    border:1px solid #49AFDE;
}
