/**----------- ROOT ------------------------**/
:root {
    --cd3: #D31141;
    --c3a: #3a72e2;
    --cbl: #000;
    --cff: #fff;
    --cfe: #fecb60;
    --ce8: #e8e8e8;
    --c98: #989898;
    --c50: #505050;
    --c3b: #3B3B3B;
    --c32: #323232;
    --chum: #6D9C72;
    --cvam: #D31141;
    --chyb: #C083CF;
    --bsbd: 8px solid #3a72e2; /*COUNTOUR CERCLE*/
    --hsbd: 8px solid #e8e8e8; /*COUNTOUR CERCLE SURVOLÉ*/
    --ssbd: 8px solid #fecb60; /*COUNTOUR CERCLE SÉLECTIONNÉ*/
    --bd: 1px solid #fff;
    --gap-size: 16px;
    --ease: cubic-bezier(0.4, 0.0, 0.2, 1);
    --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}


/**----------- CODAGES DU MENU DU HAUT DE LA PA -----------**/
#botMenu{
    padding:0px 30px;
    background-color:var(--cff);
    height:75px;
}

#botMenu ul li{
    display:inline-block;
    margin:8px 4px;
}

#botMenu ul li a{
    text-decoration:none;
}

.menuStyle{
    border-radius:4px;
    border:1px solid var(--ce8);
    background-color:var(--ce8);
    transition: 0.5s;
    animation-timing-function:ease-in-out;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding:17px 10px;
    font-size:18px;
    height:59px;

}

a div.menuStyle{
    position:relative;
    top:-4px;
    margin-bottom:-4px;
}

a:hover div.menuStyle{
    color:var(--c3a);
}

.menuStyle:hover{
    border:1px solid var(--c3a);
}

#padiffsc.menuStyle{
    border-color:var(--c32);
    background-color:var(--c32);
    color:var(--cff);
    line-height: 83%;
    text-align:center;
    padding:13px 10px!important;
}

#padiffsc.menuStyle:hover{
    border:1px solid var(--c3a);
    color:var(--cfe);
}

#crediffsc.menuStyle:hover{
    border:1px solid var(--c32);
}

#crediffsc.menuStyle{
    color:var(--c32);
    border-color:var(--cfe);
    background-color:var(--cfe);
    background-image:url('https://appletheocracy.github.io/stellaastra/img/01_Base/fondCredit.png');
    background-position: center;
}

a.mainmenu{
    text-transform: uppercase;
}
